@using ToDoListV2;

@page "/"
@rendermode InteractiveServer
<PageTitle>TodoListV2</PageTitle>

<h1>TodoListV2</h1>

<div>
    <input type="text" placeholder="Enter item name" @bind="taskName"/>
    <button @onclick="AddTask" >Add Task</button>

    <input type="text" placeholder="Search For Task" @bind="taskLookup" />
    <button @onclick="SearchTaskName">Search Task</button>
</div>

<p> List of Tasks:</p>
<ul @onclick= "MarkTaskAsDone" >
    <div>
        @foreach (TaskToDo task in toDoList)
        {
            @if (taskLookup == task.Name)
            {
                @if (task.IsComplete == true)
                {
                    <div style="background-color: lightblue; border: 1px solid black; margin: 5px; padding: 5px;">
                    <span style="text-decoration: line-through;">@task.Name</span>
                    <span style="text-decoration: line-through;">@task.Date.ToString("g")</span>
                    <span style="text-decoration: line-through;">@task.LevelOfImportance</span>
                        <button @onclick="() => toDoList.RemoveTask(task)">Remove</button>
                    </div>
                }
                else
                {
                    <div style="background-color: lightblue; border: 1px solid black; margin: 5px; padding: 5px;">
                        <span>@task.Name</span>
                        <span>@task.Date.ToString("g")</span>
                        <span>@task.LevelOfImportance</span>
                        <span>@task.IsComplete</span>
                        <button @onclick="() => toDoList.RemoveTask(task)">Remove</button>
                        <button @onclick="() => EditTask()">Edit</button>

                    </div>
                }
                
            }
            else 
            {
            <div>
                    @if (task.IsComplete == true)
                    {
                        <span style="text-decoration: line-through;">@task.Name</span>
                        <span style="text-decoration: line-through;">@task.Date.ToString("g")</span>
                        <span style="text-decoration: line-through;">@task.LevelOfImportance</span>
                        <button @onclick="() => toDoList.RemoveTask(task)">Remove</button>
                    }
                    else
                    {
                        <span>@task.Name</span>
                        <span>@task.Date.ToString("g")</span>
                        <span>@task.LevelOfImportance</span>
                        <span>@task.IsComplete</span>
                        <button @onclick="() => toDoList.RemoveTask(task)">Remove</button>
                        <button @onclick="() => toDoList.EditTask(task, task.Name)">Edit</button>
                    }

            </div>
            }
        }
       
    </div>

</ul>
@code
{
    public TaskList toDoList = new TaskList();
    private string taskName;
    private string taskLookup;
    private TaskToDo taskToDo;


    private void AddTask()
    {
        taskToDo = new TaskToDo(taskName, DateTime.Now);
        toDoList.AddTask(taskToDo);
        taskName = string.Empty;
    }
    private void SearchTaskName()
    {
        toDoList.GetTaskByName(taskLookup);
    }

    private void EditTask()
    {
        toDoList.EditTask(taskToDo, this.taskName);
    }

    private void MarkTaskAsDone()
    {
        toDoList.MarkStatusAsComplete(taskToDo);
    }

}